<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/crearBase.js" defer></script>
    <title>Crear Base de Datos</title>
</head>
<body>
<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Crear base de datos</div>
            <div class="eula">Introduce el nombre de la base de datos que deseas crear.</div>
        </div>
        <div class="right">
            <div class="form">
                <form id="formularioCrearBase" action="/crearBase" method="POST">
                    <label for="nombreBase">Nombre de la base de datos</label>
                    <input type="text" id="nombreBase" name="nombreBase" required>
                    <div class="mensajeNombreBaseIncorrecto ocultar">Nombre inválido ✘</div>
                    <div class="mensajeNombreBaseCorrecto ocultar">Nombre validado ✔</div>
                    <div class="boton">
                        <button type="submit">Crear Base</button>
                        <a href="/" class="botonLink">Volver</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>
